.contenedor-datos{
    margin-top: 30px;
    display: flex;
    background: #000;
    height: 300px;
    justify-content: space-around;
}
.mapa iframe{
    height: 100%;
    width: 100%;
}
.contenedor-informacion{
    padding: 20px;
    color: #fff;
    display: grid; 
    grid-template-areas: "contacto direccion redes"
                         "copyright copyright copyright";
    column-gap: 20px;
}
.contenedor-informacion .contacto{
    grid-area: contacto;
}
.contenedor-informacion .direccion{
    grid-area: direccion;
}
.contenedor-informacion .redes{
    grid-area: redes;
}
.contenedor-informacion .copyright{
    grid-area: copyright;
}
.informacion{
    padding: 20px;
}

.contenedor-informacion .informacion .titulo{
    padding: 15px 0; 
    font-size: 24px; 
    margin: 0; 
}
.contenedor-informacion .informacion .subtitulo{
    font-size: 16px;
    line-height: 23px;
    margin: 0;
}
.contenedor-informacion i{
    padding: 0 5px;
    font-size: 30px;
    color: #fff;
}

.copyright{
    text-align: center;
    font-size: 15px;
    padding: 10px;
}

@media screen and (max-width: 669px){
    .contenedor-datos{
        flex-wrap: wrap;
        height: 560px;
        justify-content: center;
    }
    .contenedor-informacion{
        grid-template-areas: "contacto"
                             "direccion"
                             "redes"
                             "copyright";
        text-align: center;
    }
    .mapa {
        width: 50%;
        margin: auto;
    }
    .mapa iframe{
        width: 100%;
        height: 100%;
    }
    .informacion{
        padding: 10px;
    }
    .contenedor-informacion .informacion .titulo{
        padding: 5px 0; 
        font-size: 20px; 
        margin: 0; 
    }
    .contenedor-informacion .informacion .subtitulo{
        font-size: 15px;
        margin: 0;
    }
}
