.titulo-prod{
    position: absolute;
    padding: 0;
    font-size: 36px;
    margin: 40px 0 25px;
}

.fila-prod{
    width: 100%;
    height: auto;
}
.columna{
    margin: 20px 0;
}
.contenedor-carruseles{
    width: 100% !important;
}
.carousel-item img{
    cursor: pointer;
}
